body, td { font: 13px Tahoma, "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana; }

fieldset span.cat-nest {
	margin-left: auto;
	margin-right: 10px;
}

.alignleft {
	float: right;
}

.alignright {
	float: left;
}

.submit input, .submit input:focus, .button, .button:focus {
	border-left-color: #999;
	border-right-color: #ccc;
}
	
.submit input:active, .button:active {
	border-left-color: #ccc;
	border-right-color: #999;
}

.submit, .editform th {
	text-align: left;
}

.widefat th {
	text-align: right;
}

th[scope="row"] {
	text-align: left;
}

#bb-admin-menu {
	padding: .2em 2em .2em .2em;
	height: 30px;
}

#bb-admin-menu a {
	margin-left: .5ex;
	display: block;
	float: right;
}

#bb-admin-menu li { line-height: 180%; }

#bb-admin-submenu {
	padding: 3px 3em 0 2em;
	height: 25px;
}

#bb-admin-submenu .current a {
	border-right: 0;
	border-left: 2px solid #049052;
}

#bb-admin-submenu a {
	padding: .3em .4em .4em;
	margin-left: .5ex;
	display: block;
	float: right;
}

#bb-admin-submenu a:hover {
	padding-bottom: .5em;
}

#bb-admin-submenu li {
	line-height: 120%;
}

#top {
	padding: .8em 2em .8em 19em;
}

#top h1 {
	font-family: Tahoma, Georgia, "Times New Roman", Times, serif
}

#top .login {
	right: auto;
	left: 1em;
}

#zeitgeist {
	float: left;
	margin: .5em 0 .5em 1em;
}

#zeitgeist ul {
	margin: 0 .6em .3em 0;
	padding: 0 .6em 0 0;
}

.theme-list div.screen-shot {
	float: right;
	margin-right: 0;
	margin-left: 1ex;
}

.theme-list .description {
	float: right;
}
