a {
	border-bottom: 1px solid #6c9;
	color: #009b01;
	text-decoration: none;
}

a.delete:hover {
	background: #c00;
	color: #fff;
}

a.edit, a.delete, a.edit:hover, a.delete:hover {
	border-bottom: none;
	display: block;
	padding: 5px 0;
	text-align: center;
}

a.edit:hover {
	background: #ccc;
	color: #063;
}

a:visited {
	color: #060;
}

a:hover {
	border-bottom: 1px solid #3a75ae;
	color: #096;
}

body	{
	background: #fff;
	color: #000;
	margin: 0;
	padding: 0;
}

body, td {
	font: 13px "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana;
}

fieldset {
	border: none;
	padding: 3px;
}

fieldset label.selectit {
	background: #f0f0f0;
	display: block;
	font-size: 11px;
	padding: 0 2px;
}

fieldset label.selectit:hover {
	background: #dadada;
}

fieldset legend {
	padding: .1em .3em;
}

fieldset span.cat-nest {
	display: block;
	margin-left: 10px;
}

fieldset.options {
	padding: 1em;
}

fieldset.options legend {
	font-size: 16px;
}

form, label input {
	margin: 0;
	padding: 0;
}

h2 {
	border-bottom: .5em solid #f0fff8;
	color: #333;
	font: normal 30px/5px serif;
	margin: 5px 10px;
}

img, #footer a {
	border: 0;
}

#footer {
	clear: both;
	text-align: center;
}

input:focus, textarea:focus, label:focus {
	background: #fff;
	border: 1px solid #686868;
}

label {
	cursor: pointer;
}

li, dd {
	margin-bottom: 6px;
}

p, li, dl, dd, dt {
	line-height: 130%;
}

textarea, input, select {
	background: #f4f4f4;
	border: 1px solid #b2b2b2;
	color: #000;
	font:  13px Verdana, Arial, Helvetica, sans-serif;
	margin: 1px;
	padding: 3px;
}

.alignleft {
	float: left
}

.alignright {
	float: right;
}

.alternate, .alt {
	background: #f1f1f1;
}

.anchors {
	margin: 10px 20px 10px 20px;
}

.checkbox {
	background: #fff;
	border: none;
	margin: 0;
	padding: 0;
}

.code {
	font-family: "Courier New", Courier, monospace;
}

.submit input:active, .button:active {
	background: #f4f4f4;
	border: 3px double #ccc;
	border-left-color: #999;
	border-top-color: #999;
}

.submit, .editform th {
	text-align: right;
}

.unapproved {
	color: #888;
}

.unapproved a:link {
	color: #b9ffbc;
}

.unapproved a:visited {
	color: #69ff6d;
}

.unapproved a:hover {
	color: #00f09e;
}

.updated {
	background: #f0fff8;
	border: 1px solid #6c9;
	margin: 1em 5% 10px;
	padding: 0 1em 0 1em;
}

.error {
	background: #FFEFF7;
	border: 1px solid #c69;
	margin: 1em 5% 10px;
	padding: 0 1em 0 1em;
}

.wrap {
	background: #fff;
	border: 1px solid #ccc;
	clear: both;
	margin: 15px 5%;
	padding: .5em 1em;
}

.wrap h2 {
	margin: .8em 0 .5em;
	clear: both;
}

table .vers, table .name {
	text-align: center;
}

.widefat {
	width: 100%;
}

.widefat td, .widefat th {
	padding: 5px 6px;
}

.widefat th {
	text-align: left;
}

thead, .thead {
	background: #dfdfdf
}

#bb-admin-menu {
	background: #6dd1a6;
	border-top: 3px solid #44bd8a;
	margin: 0;
	padding: .2em .2em .2em 2em;
}

#bb-admin-menu .current a, #bb-admin-submenu .current a{
	font-weight: bold;
}

#bb-admin-menu a {
	color: #000;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
	padding: 3px 5px;
	text-decoration: none;
}

#bb-admin-menu a:hover, .current a {
	background: #ddf4ea;
	color: #333;
}

#bb-admin-menu li, #bb-admin-submenu li {
	display: inline;
	line-height: 200%;
	list-style: none;
	text-align: center;
}

#bb-admin-submenu {
	background: #0d4f32;
	border-bottom: none;
	margin: 0;
	padding: 3px 2em 0 3em;
}

#bb-admin-submenu .current a {
	background: #ddf4ea;
	border-top: 1px solid #049052;
	border-right: 2px solid #049052;
	color: #000;
}

#bb-admin-submenu a {
	border: none;
	color: #fff;
	font-size: 12px;
	padding: .3em .4em .33em;
}

#bb-admin-submenu a:hover {
	background: #ddf4ea;
	color: #393939;
}

#bb-admin-submenu li {
	line-height: 170%;
}


#top {
	background: #148a56;
	padding: .8em 19em .8em 2em;
	color: #c3f1de;
}

#top a {
	color: #fff;
}

#top h1 {
	font-size: 2.5em;
	font-weight: normal;
	letter-spacing: -.05em;
	margin: 0;
	font-family: Georgia, "Times New Roman", Times, serif
}

#top .login {
	position: absolute;
	right: 1em;
	top: 0;
	color: #fff;
	font-size: .9em;
}

#top .login a {
	color: #fff;
}

#zeitgeist {
	background: #eee;
	border: 1px solid #6c9;
	float: right;
	font-size: 90%;
	margin: .5em 1em .5em 0;
	padding: 1em;
	width: 27%;
}

#zeitgeist h2, fieldset legend a {
	border-bottom: none;
}

#zeitgeist h2 {
	margin-top: .4em;
}

#zeitgeist h3 {
	border-bottom: 1px solid #ccc;
	font-size: 16px;
	margin: 1em 0 0;
}

#zeitgeist h3 cite {
	font-size: 12px;
	font-style: normal;
}

#zeitgeist li, #zeitgeist p {
	margin: .2em 0;
}

#zeitgeist ul {
	margin: 0 0 .3em .6em;
	padding: 0 0 0 .6em;
}
