# gitignore file for bbPress

# Configuration files with possibly sensitive information
.htaccess

# Files and folders related to build/test tools
/phpunit.xml
/tests/phpunit/build
/node_modules
/npm-debug.log

# bbPress's output directory.
/build

# Operating system specific files
.DS_Store

# Ignore other .gitignore files to allow for personal customizations
.gitignore
