# gitignore file for bbPress

# Operating system
.DS_Store
.cache
.idea
Thumbs.db

# Build/test tools
/build
/phpcs.xml
/phpunit.xml
/tests/phpunit/build
/node_modules
/npm-debug.log
/lib-cov
/pids
/logs
/results
/src/vendor
/vendor

# Patches/debugging
*.rej
*.orig
*.diff
*.patch
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.sql
*.zip

# Customizations
.htaccess
.gitignore
.wp-env.override.json
wp-cli.local.yml
