<phpunit
	bootstrap="tests/phpunit/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite>
			<directory suffix=".php">tests/phpunit/testcases/</directory>
		</testsuite>
	</testsuites>
	<groups>
		<exclude>
			<group>buddypress</group>
		</exclude>
	</groups>
	<listeners>
		<listener class="SpeedTrapListener" file="tests/phpunit/includes/speed-trap-listener.php">
			<arguments>
				<array>
					<element key="slowThreshold">
						<integer>100</integer>
					</element>
				</array>
			</arguments>
		</listener>
	</listeners>
</phpunit>
