/**
 * Theme Name: bbPress (Twenty Ten)
 * Theme URI: http://bbpress.org
 * Description: Adds bbPress forums to the Twenty Ten theme
 * Author: WordPress and bbPress teams
 * Version: 1.1
 * Tags: bbpress, black, blue, white, two-columns, fixed-width, custom-header, custom-background, threaded-comments, sticky-post, translation-ready, microformats, rtl-language-support, editor-style
 * Template: twentyten
 *
 **
 *
 * This file intentionally left blank. Styles are enqueued in functions.php in
 * the order you see listed below:
 *
 *
 * 1 - ./css/twentyten.css
 *
 * 2 - ./css/bbpress.css
 *
 **/