/**
 * Theme Name: bbPress - Twenty Ten
 * Theme URI: http://bbpress.org
 * Description: Adds bbPress forums to Twenty Ten theme
 * Author: The bbPress Community
 * Version: 0.1
 * Template: twentyten
 * Tags: bbpress, black, blue, white, two-columns, fixed-width, custom-header, custom-background, threaded-comments, sticky-post, translation-ready, microformats, rtl-language-support, editor-style
 *
 **
 *
 * This file intentionally left blank. Styles are enqueued in functions.php
 *
 * Please see:
 *
 * - /css/twentyten.css
 *
 * - /css/bbpress.css
 *
 **/