/**
 * bbPress specific CSS
 *
 * @package bbPress
 * @subpackage Theme
 */

/* =bbPress Style
-------------------------------------------------------------- */

#content hr,
#container hr {
	margin: 0 0 24px 0;
}
#entry-author-info {
	margin: 10px 0 0 0;
	border-bottom: 1px solid #fff;
}

#bbpress-forums {
	background: transparent;
	clear: both;
	margin-bottom: 20px;
	overflow: hidden;
}

#bbpress-forums div.even,
#bbpress-forums ul.even {
	background-color: #fff;
}

#bbpress-forums div.odd,
#bbpress-forums ul.odd {
	background-color: #fbfbfb;
}

#bbpress-forums div.bbp-topic-header,
#bbpress-forums div.bbp-reply-header {
	background-color: #f4f4f4;
}

#bbpress-forums .status-trash.even,
#bbpress-forums .status-spam.even {
	background-color: #fee;
}
#bbpress-forums .status-trash.odd,
#bbpress-forums .status-spam.odd {
	background-color: #fdd;
}

#bbpress-forums .status-closed,
#bbpress-forums .status-closed a {
	color: #ccc;
}

#bbpress-forums ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#bbpress-forums ul.bbp-lead-topic,
#bbpress-forums ul.bbp-topics,
#bbpress-forums ul.bbp-forums,
#bbpress-forums ul.bbp-replies {
	font-size: 12px;
	overflow: hidden;
	border: 1px solid #eee;
	margin-bottom: 20px;
	clear: both;
}

#bbpress-forums li.bbp-header,
#bbpress-forums li.bbp-body,
#bbpress-forums li.bbp-footer {
	clear: both;
}

#bbpress-forums li.bbp-header,
#bbpress-forums li.bbp-footer {
	background: #f3f3f3;
	border-top: 1px solid #eee;
	font-weight: bold;
	padding: 8px;
	text-align: center;
}

#bbpress-forums li.bbp-header {
	background: #eaeaea;
}

#bbpress-forums li.bbp-header ul {
	overflow: hidden;
}

#bbpress-forums li.bbp-header li,
#bbpress-forums li.bbp-footer li {
	float: left;
}

#content .bbp-forum-description p,
#bbpress-forums li.bbp-footer p {
	margin-bottom: 0px;
}

#bbpress-forums .bbp-topic-content img,
#bbpress-forums .bbp-reply-content img {
	max-width: 100%;
}

.bbp-forum-description p {
	font-size: 13px;
	font-style: italic;
}

li.bbp-forum-info,
li.bbp-topic-title {
	float: left;
	text-align: left;
	width: 55%;
}
li.bbp-forum-topic-count,
li.bbp-topic-voice-count,
li.bbp-forum-reply-count,
li.bbp-topic-reply-count{
	float: left;
	text-align: center;
	width: 10%;
}

li.bbp-forum-freshness,
li.bbp-topic-freshness{
	text-align: center;
	float: left;
	width: 22%;
}

#bbpress-forums li.bbp-body ul.forum,
#bbpress-forums li.bbp-body ul.topic {
	border-bottom: 1px solid #eee;
	overflow: hidden;
	padding: 8px;
}

div.bbp-topic-author,
div.bbp-reply-author {
	float: left;
	text-align: center;
}

div.bbp-topic-content,
div.bbp-reply-content {
	margin-left: 140px;
	text-align: left;
}

li.bbp-header div.bbp-topic-content span#subscription-toggle,
li.bbp-header div.bbp-topic-content span#favorite-toggle,
li.bbp-header div.bbp-reply-content span#subscription-toggle,
li.bbp-header div.bbp-reply-content span#favorite-toggle {
	float: right;
}

li.bbp-body div.bbp-topic-author,
li.bbp-body div.bbp-reply-author {
	padding: 12px;
	vertical-align: top;
}

li.bbp-body div.bbp-topic-content,
li.bbp-body div.bbp-reply-content {
	padding: 12px 12px 12px 0px;
	vertical-align: top;
}

div.bbp-topic-header,
div.bbp-reply-header,
li.bbp-body div.hentry {
	margin-bottom: 0px;
	overflow: hidden;
	padding: 8px;
}

div.bbp-topic-header,
div.bbp-reply-header {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #eee;
	clear: both;
}

span.bbp-author-ip {
	font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #aaa;
}

/* =Breadcrumb and Tags
-------------------------------------------------------------- */

div.bbp-breadcrumb {
	float: left;
}

div.bbp-breadcrumb,
div.bbp-topic-tags {
	font-size: 12px;
}

#content div.bbp-breadcrumb p,
#content div.bbp-topic-tags p {
	margin-bottom: 10px
}

div.bbp-topic-tags {
	float: right;
}

/* =Admin Links
-------------------------------------------------------------- */

span.bbp-admin-links {
	float: right;
	color: #ddd;
}
span.bbp-admin-links a {
	color: #bbb;
	font-weight: normal;
	font-size: 10px;
	text-transform: uppercase;
	text-decoration: none;
}
fieldset span.bbp-admin-links {
	float: left;
}
tr td span.bbp-admin-links a:hover {
	color: #ff4b33;
}
td.bbp-topic-admin-links,
td.bbp-topic-counts {
	width: 50%;
}

a.bbp-topic-permalink,
a.bbp-reply-permalink {
	float: right;
	margin-left: 10px;
	color: #ccc;
}

/* =Toggles
-------------------------------------------------------------- */

.bbp-topic-action #favorite-toggle a {
	text-decoration: none;
	padding: 0px 3px 1px;
	color: #7c7;
	border: 1px solid #aca;
	background-color: #dfd;
	font-weight: bold;
	font-size: 13px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	}
	.bbp-topic-action #favorite-toggle a:hover {
		color: #5a5;
		border-color: #7c7;
		background-color: #beb;
	}
	.bbp-topic-action #favorite-toggle span.is-favorite a {
		color: #faa;
		border: 1px solid #faa;
		background-color: #fee;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		}
		.bbp-topic-action #favorite-toggle span.is-favorite a:hover {
			color: #c88;
			border-color: #c88;
			background-color: #fdd;
		}

.bbp-topic-action #subscription-toggle a {
	text-decoration: none;
	padding: 0px 3px 1px;
	color: #7c7;
	border: 1px solid #aca;
	background-color: #dfd;
	font-weight: bold;
	font-size: 13px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	}
	.bbp-topic-action #subscription-toggle a:hover {
		color: #5a5;
		border-color: #7c7;
		background-color: #beb;
	}
	.bbp-topic-action #subscription-toggle span.is-subscribed a {
		color: #faa;
		border: 1px solid #faa;
		background-color: #fee;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		}
		.bbp-topic-action #subscription-toggle span.is-subscribed a:hover {
			color: #c88;
			border-color: #c88;
			background-color: #fdd;
		}

#content p.bbp-topic-meta {
	margin-bottom: 0;
	font-size: 11px;
}

#content p.bbp-topic-meta span {
	white-space: nowrap;
}

/* =Pagination
-------------------------------------------------------------- */

.bbp-pagination-count {
	float: left;
}
.bbp-pagination-links {
	float: right;
}
.bbp-pagination {
	float: left;
	width: 100%;
	margin-bottom: 20px;
}

.bbp-topic-pagination {
	display: inline-block;
	margin-left: 5px;
	margin-bottom: 2px;
	}
	.bbp-topic-pagination a {
		font-size: 10px;
		line-height: 10px;
		padding: 1px 3px;
		border: 1px solid #ddd;
		text-decoration: none;
	}

/* =Forms
-------------------------------------------------------------- */
#content fieldset.bbp-form,
#container fieldset.bbp-form,
#wrapper fieldset.bbp-form {
	clear: left;
}

#content fieldset.bbp-form,
#container fieldset.bbp-form,
#wrapper fieldset.bbp-form {
	border: 1px solid #eee;
	padding: 10px 20px;
	margin-bottom: 10px;
}

#content fieldset.bbp-form legend,
#container fieldset.bbp-form legend,
#wrapper fieldset.bbp-form legend {
	padding: 5px;
}

#content fieldset.bbp-form label,
#container fieldset.bbp-form label,
#wrapper fieldset.bbp-form label {
	margin: 0;
	display: inline-block;
}

#bbp-edit-topic-tag.bbp-form fieldset.bbp-form label,
#bbp-login fieldset label,
#bbp-register fieldset label,
#bbp-lost-pass fieldset label {
	width: 100px;
}

#content fieldset.bbp-form p,
#container fieldset.bbp-form p,
#wrapper fieldset.bbp-form p,
#content fieldset.bbp-form textarea,
#container fieldset.bbp-form textarea,
#wrapper fieldset.bbp-form textarea,
#content fieldset.bbp-form select,
#container fieldset.bbp-form select,
#wrapper fieldset.bbp-form select,
#content fieldset.bbp-form input,
#container fieldset.bbp-form input,
#wrapper fieldset.bbp-form input {
	margin: 0px 0px 10px;
}

textarea#bbp_reply_content,
textarea#bbp_topic_content,
textarea#bbp_forum_content {
	width: 97%;
	box-sizing: border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

textarea#bbp_forum_content {
	height: 210px;
}

#content fieldset.bbp-forum-form-attributes,
#container fieldset.bbp-forum-form-attributes,
#wrapper fieldset.bbp-forum-form-attributes {
	width: 200px;
	float: right;
	clear: none;
	margin-left: 25px;
}

.bbp-topic-form,
.bbp-reply-form,
.bbp-topic-tag-form {
	clear: left;
}
body.topic-edit .bbp-topic-form div.avatar img,
body.reply-edit .bbp-reply-form div.avatar img,
body.single-forum .bbp-topic-form div.avatar img,
body.single-reply .bbp-reply-form div.avatar img {
	margin-right: 0;
	padding: 10px;
	border: 1px solid #ddd;
	line-height: 0;
	background-color: #efefef;
}

body.page .bbp-reply-form code,
body.page .bbp-topic-form code,
body.single-topic .bbp-reply-form code,
body.single-forum .bbp-topic-form code,
body.topic-edit .bbp-topic-form code,
body.reply-edit .bbp-reply-form code {
	font-size: 10px;
	background-color: #f0fff8;
	border: 1px solid #CEEFE1;
	display: block;
	padding: 8px;
	margin-top: 5px;
	width: 369px;
}

#merge_tag,
#delete_tag {
	display: inline;
}

div.bbp-submit-wrapper {
	margin-top: 15px;
	float: right;
	clear: both;
}

p.form-allowed-tags {
	width: 462px;
}

input[type="password"] {
	background: #f9f9f9;
	border: 1px solid #ccc;
	box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	padding: 2px;
}

/* =TinyMCE in themes
-------------------------------------------------------------- */
#content div.bbp-the-content-wrapper {
	margin-bottom: 10px;
}

#content div.bbp-the-content-wrapper textarea.bbp-the-content {
	width: 100%;
	margin: 0;
	font-size: 12px;
}

#content div.bbp-the-content-wrapper table,
#content div.bbp-the-content-wrapper tbody,
#content div.bbp-the-content-wrapper tr,
#content div.bbp-the-content-wrapper td {
	border: none;
	padding: 0;
	margin: 0;
	width: auto;
	line-height: 1em;
}

#content div.bbp-the-content-wrapper input {
	font-size: 12px;
	padding: 5px;
	margin: 3px 0 0;
	line-height: 1em;
	margin: 0;
}

#content div.bbp-the-content-wrapper div.quicktags-toolbar {
	padding: 5px;
	min-height: 26px;
}
#content div.bbp-the-content-wrapper td.mceToolbar {
	padding: 4px 4px 8px;
}

#content div.wp-editor-container {
	margin: 0;
	padding: 0;
	line-height: 0;
}

#content div.bbp-the-content-wrapper td.mceStatusbar {
	line-height: 16px;
}

/* =Edit User
-------------------------------------------------------------- */

#bbp-your-profile fieldset {
	margin-top: 20px;
	padding: 20px 20px 0 20px;
}
	#bbp-your-profile fieldset div {
		margin-bottom: 20px;
		float: left;
		width: 100%;
		clear: left;
	}
	#bbp-your-profile fieldset select {
		margin-bottom: 0;
	}
	#bbp-your-profile fieldset input,
	#bbp-your-profile fieldset textarea {
		margin-bottom: 0;
		width: 400px;
		background: #f9f9f9;
		border: 1px solid #ccc;
		box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
		-moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
		-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
		padding: 2px;
	}
	#bbp-your-profile fieldset legend {
		display: none;
	}
	#content #bbp-your-profile fieldset label,
	#container #bbp-your-profile fieldset label {
		float: left;
		width: 150px;
		padding-right: 20px;
		text-align: right;
	}
	#bbp-your-profile fieldset span.description {
		margin: 5px 0 0 170px;
		font-size: 12px;
		font-style: italic;
		float: left;
		clear: left;
		width: 383px;
		padding: 5px 10px;
		border: #cee1ef 1px solid;
		background-color: #f0f8ff;
	}

	#content #bbp-your-profile fieldset fieldset,
	#container #bbp-your-profile fieldset fieldset {
		margin: 0;
		width: 260px;
		border: none;
		padding: 0;
		clear: none;
		float: none;
	}
	#bbp-your-profile fieldset fieldset span.description {
		margin-left: 0;
		margin-bottom: 20px;
	}

	#bbp-your-profile fieldset.submit button {
		float: right;
	}

/* =Notices
-------------------------------------------------------------- */

div.bbp-template-notice {
	border-width: 1px;
	border-style: solid;
	padding: 0 0.6em;
	margin: 5px 0 15px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-color: #ffffe0;
	border-color: #e6db55;
	color: #000;
	clear: both;
}
div.bbp-template-notice a {
	color: #555;
	text-decoration: none;
}
	div.bbp-template-notice a:hover {
		color: #000;
	}
	div.bbp-template-notice.info {
		border: #cee1ef 1px solid;
		background-color: #f0f8ff;
	}
	div.bbp-template-notice.important {
		border: #e6db55 1px solid;
		background-color: #fffbcc;
	}
	div.bbp-template-notice.error,
	div.bbp-template-notice.warning {
		background-color: #ffebe8;
		border-color: #c00;
	}
	div.bbp-template-notice.error a,
	div.bbp-template-notice.warning a {
		color: #c00;
	}
	div.bbp-template-notice p {
		margin: 0.5em 0 6px 0 !important;
		padding: 2px;
		font-size: 12px;
		line-height: 140%;
	}

/* =Stickies
-------------------------------------------------------------- */

.bbp-topics-front ul.super-sticky,
.bbp-topics ul.super-sticky,
.bbp-topics ul.sticky,
.bbp-forum-content ul.sticky {
	background-color: #ffffe0 !important;
	font-size: 1.1em;
}

/* =Revisions
-------------------------------------------------------------- */
#content .bbp-topic-revision-log,
#content .bbp-reply-revision-log,

#main .bbp-topic-revision-log,
#main .bbp-reply-revision-log,

#container .bbp-topic-revision-log,
#container .bbp-reply-revision-log {
	border-top: 1px dotted #ddd;
	list-style: none;
	width: 100%;
	margin: 0;
	padding: 8px 0 0 0;
	font-size: 11px;
	color: #aaa;
}

/* =Widgets
-------------------------------------------------------------- */

.bbp-login-form fieldset legend {
	display: none;
}

.bbp-login-form .bbp-username input,
.bbp-login-form .bbp-email input,
.bbp-login-form .bbp-password input {
	padding: 5px;
}

.bbp-login-form .bbp-username label,
.bbp-login-form .bbp-password label {
	width: 70px;
	display: inline-block;
}
.bbp-login-form .bbp-username,
.bbp-login-form .bbp-password,
.bbp-login-form .bbp-remember-me,
.bbp-login-form .bbp-submit-wrapper {
	margin-top: 10px;
}

.bbp-login-form .bbp-remember-me {

}

.bbp-login-form .bbp-submit-wrapper {
	text-align: right;
}

.bbp-login-form .bbp-login-links {
}

.bbp-login-form .bbp-login-links a {
	float: left;
	clear: left;
}

.bbp-logged-in img.avatar {
	float: left;
	margin-right: 15px;
}

.bbp-logged-in h4 {
	font-weight: bold;
	font-size: 1.3em;
	clear: none;
	margin-bottom: 10px;
}

/* =Avatars
-------------------------------------------------------------- */

#content p.bbp-topic-meta img.avatar,
#content ul.bbp-reply-revision-log img.avatar,
#content ul.bbp-topic-revision-log img.avatar,
#content div.bbp-template-notice img.avatar,
#content .widget_display_topics img.avatar,
#content .widget_display_replies img.avatar,
#content p.bbp-topic-meta img.avatar,

#main ul.bbp-reply-revision-log img.avatar,
#main ul.bbp-topic-revision-log img.avatar,
#main div.bbp-template-notice img.avatar,
#main .widget_display_topics img.avatar,
#main .widget_display_replies img.avatar,
#main p.bbp-topic-meta img.avatar,

#container ul.bbp-reply-revision-log img.avatar,
#container ul.bbp-topic-revision-log img.avatar,
#container div.bbp-template-notice img.avatar,
#container .widget_display_topics img.avatar,
#container .widget_display_replies img.avatar {
	float: none;
	margin-bottom: -7px;
	border: 3px double #ddd;
}

fieldset div.avatar {
	float: right;
}

/* =BuddyPress Activity Streams
-------------------------------------------------------------- */

.activity-list li.bbp_topic_create .activity-content .activity-inner,
.activity-list li.bbp_reply_create .activity-content .activity-inner {
	border-left: 2px solid #EAEAEA;
	margin-left: 5px;
	padding-left: 10px;
}

/* =BuddyPress Group Forums
-------------------------------------------------------------- */

body.groups #bbpress-forums {
	margin: -19px -19px 0 -19px;
}

body.groups #bbpress-forums ul.bbp-forums,
body.groups #bbpress-forums ul.bbp-topics,
body.groups #bbpress-forums ul.bbp-forums {
	border: none;
}

#bbpress-forums div.row-actions {
	font-size: 11px;
	visibility: hidden;
}

#bbpress-forums li:hover > div.row-actions {
	visibility: visible;
}
