/**
 * bbPress specific CSS
 *
 * @package bbPress
 * @subpackage Theme
 */

/* =bbPress Style
-------------------------------------------------------------- */

#content hr,
#container hr {
	margin: 0 0 24px 0;
}
#entry-author-info {
	margin: 10px 0 0 0;
	border-bottom: 1px solid #fff;
}

/* =Tables
-------------------------------------------------------------- */

#content table tbody tr.even td {
	background-color: #fff;
}
#content table tbody tr.odd td {
	background-color: #fbfbfb;
}

#content table tbody tr td {
	background-color: #f8f8f8;
}

#content table tbody tr.status-trash.even td,
#content table tbody tr.status-spam.even td {
	background-color: #fee;
}
#content table tbody tr.status-trash.odd td,
#content table tbody tr.status-spam.odd td {
	background-color: #fdd;
}

#content table.bbp-topics tbody tr.status-closed td,
#content table.bbp-topics tbody tr.status-closed td a {
	color: #ccc;
}

table.bbp-topic tbody tr td,
table.bbp-replies tbody tr td {
	background-color: #fff;
}

table tbody tr.bbp-reply-header:hover td,
table tbody tr.bbp-reply-header td {
	background-color: #f8f8f8;
}

table.bbp-forums th, table.bbp-topics th,
table.bbp-topic th, table.bbp-replies th {
	background-color: #f3f3f3;
}
table.bbp-forums th span, table.bbp-topics th span,
table.bbp-topic th span, table.bbp-replies th span {
	float: right;
}
#content table.bbp-forums tfoot td, #content table.bbp-topics tfoot td,
#content table.bbp-topic tfoot td, #content table.bbp-replies tfoot td,
#content table.bbp-replies tr.bbp-reply-header td,
#content table.bbp-topic tr.bbp-topic-header td {
	background-color: #fafafa;
	color: #888;
	font-size: 12px;
	font-weight: bold;
	font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
	padding: 4px 10px;
}

#content .bbp-forum-topic-count,
#content .bbp-forum-reply-count,
#content .bbp-topic-reply-count,
#content .bbp-topic-voice-count,
#content .bbp-topic-action {
	width: 10%;
	text-align: center;
	padding: 6px 0px;
}
.bbp-topic-freshness,
.bbp-forum-freshness {
	text-align: center;
	width: 20%;
}
.bbp-topic-author,
.bbp-reply-author {
	width: 90px;
	text-align: center;
	padding: 0 10px;
}

#content tbody .bbp-topic-content,
#content tbody .bbp-reply-content {
	vertical-align: top;
	padding: 9px 10px;
}

#content .bbp-topic-content img,
#content .bbp-reply-content img {
	max-width: 100%;
}

/* =Admin Links
-------------------------------------------------------------- */

span.bbp-admin-links {
	float: right;
	color: #ddd;
}
span.bbp-admin-links a {
	color: #bbb;
	font-weight: normal;
	font-size: 10px;
	text-transform: uppercase;
	text-decoration: none;
}
fieldset span.bbp-admin-links {
	float: left;
}
tr td span.bbp-admin-links a:hover {
	color: #ff4b33;
}
td.bbp-topic-admin-links,
td.bbp-topic-counts {
	width: 50%;
}

/* =Toggles
-------------------------------------------------------------- */

.bbp-topic-action #favorite-toggle a {
	text-decoration: none;
	padding: 0px 3px 1px;
	color: #7c7;
	border: 1px solid #aca;
	background-color: #dfd;
	font-weight: bold;
	font-size: 13px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	}
	.bbp-topic-action #favorite-toggle a:hover {
		color: #5a5;
		border-color: #7c7;
		background-color: #beb;
	}
	.bbp-topic-action #favorite-toggle span.is-favorite a {
		color: #faa;
		border: 1px solid #faa;
		background-color: #fee;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		}
		.bbp-topic-action #favorite-toggle span.is-favorite a:hover {
			color: #c88;
			border-color: #c88;
			background-color: #fdd;
		}

.bbp-topic-action #subscription-toggle a {
	text-decoration: none;
	padding: 0px 3px 1px;
	color: #7c7;
	border: 1px solid #aca;
	background-color: #dfd;
	font-weight: bold;
	font-size: 13px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	}
	.bbp-topic-action #subscription-toggle a:hover {
		color: #5a5;
		border-color: #7c7;
		background-color: #beb;
	}
	.bbp-topic-action #subscription-toggle span.is-subscribed a {
		color: #faa;
		border: 1px solid #faa;
		background-color: #fee;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		}
		.bbp-topic-action #subscription-toggle span.is-subscribed a:hover {
			color: #c88;
			border-color: #c88;
			background-color: #fdd;
		}

#content p.bbp-topic-meta {
	margin-bottom: 0;
	font-size: 11px;
	white-space: nowrap;
}

/* =Forums
-------------------------------------------------------------- */

#content table tbody tr .bbp-forum-description p {
	margin-bottom: 0;
	font-size: 13px;
	font-style: italic;
}
#content table tbody tr ul.bbp-forums {
	list-style: none;
	font-size: 12px;
	margin: 0 0 0 10px;
	padding: 0 0 0 10px;
	border-left: 1px solid #aaa;
}
#content table tbody tr ul.bbp-forums li {
	display: inline;
}

/* =Pagination
-------------------------------------------------------------- */

.bbp-pagination-count {
	float: left;
}
.bbp-pagination-links {
	float: right;
}
.bbp-pagination {
	float: left;
	width: 100%;
	margin-bottom: 20px;
}

.bbp-topic-pagination {
	display: inline-block;
	margin-left: 5px;
	margin-bottom: 2px;
	}
	.bbp-topic-pagination a {
		font-size: 10px;
		line-height: 10px;
		padding: 1px 3px;
		border: 1px solid #ddd;
		text-decoration: none;
	}

/* =Forms
-------------------------------------------------------------- */

body.single-forum fieldset,
body.single-topic fieldset {
	border: 1px solid #eee;
	padding: 10px 20px;
}

body.single-forum fieldset legend,
body.single-topic fieldset legend{
	padding: 5px;
}

body.single-forum fieldset p,
body.single-topic fieldset input {
	margin: 0px 0px 10px;
}

.bbp-topic-form,
.bbp-reply-form,
.bbp-topic-tag-form {
	clear: left;
}
body.single-forum .bbp-topic-form div.avatar img,
body.single-reply .bbp-reply-form div.avatar img {
	margin-right: 0;
	padding: 10px;
	border: 1px solid #ddd;
	line-height: 0;
	background-color: #efefef;
}

body.single-topic .bbp-reply-form code,
body.single-forum .bbp-topic-form code {
	font-size: 10px;
	background-color: #f0fff8;
	border: 1px solid #CEEFE1;
	display: block;
	padding: 8px;
	margin-top: 5px;
	width: 369px;
}

#merge_tag,
#delete_tag {
	display: inline;
}

div.bbp-submit-wrapper {
	float: right;
}

p.form-allowed-tags {
	width: 462px;
}

input[type="password"] {
	background: #f9f9f9;
	border: 1px solid #ccc;
	box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	padding: 2px;
}

/* =Edit User
-------------------------------------------------------------- */

div.bbp-edit-user fieldset {
	margin-top: 20px;
	padding: 20px 20px 0 20px;
}
	div.bbp-edit-user fieldset div {
		margin-bottom: 20px;
		float: left;
		width: 100%;
		clear: left;
	}
	div.bbp-edit-user fieldset textarea {
		line-height: 0;
	}
	div.bbp-edit-user fieldset select {
		margin-bottom: 0;
	}
	div.bbp-edit-user fieldset input,
	div.bbp-edit-user fieldset textarea {
		margin-bottom: 0;
		width: 400px;
		background: #f9f9f9;
		border: 1px solid #ccc;
		box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
		-moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
		-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
		padding: 2px;
	}
	div.bbp-edit-user fieldset legend {
		display: none;
	}
	div.bbp-edit-user fieldset label {
		float: left;
		width: 150px;
		padding-right: 20px;
		text-align: right;
	}
	div.bbp-edit-user fieldset span.description {
		margin: 5px 0 0 170px;
		font-size: 12px;
		font-style: italic;
		float: left;
		clear: left;
		width: 383px;
		padding: 5px 10px;
		border: #cee1ef 1px solid;
		background-color: #f0f8ff;
	}

	div.bbp-edit-user fieldset fieldset {
		margin: 0;
		width: 260px;
		border: none;
		padding: 0;
	}
	div.bbp-edit-user fieldset fieldset span.description {
		margin-left: 0;
		margin-bottom: 20px;
	}

/* =Notices
-------------------------------------------------------------- */

div.bbp-template-notice {
	border-width: 1px;
	border-style: solid;
	padding: 0 0.6em;
	margin: 5px 0 15px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-color: #ffffe0;
	border-color: #e6db55;
	color: #000;
	clear: both;
}
div.bbp-template-notice a {
	color: #555;
	text-decoration: none;
}
	div.bbp-template-notice a:hover {
		color: #000;
	}
	div.bbp-template-notice.info {
		border: #cee1ef 1px solid;
		background-color: #f0f8ff;
	}
	div.bbp-template-notice.important {
		border: #e6db55 1px solid;
		background-color: #fffbcc;
	}
	div.bbp-template-notice.error,
	div.bbp-template-notice.warning {
		background-color: #ffebe8;
		border-color: #c00;
	}
	div.bbp-template-notice.error a,
	div.bbp-template-notice.warning a {
		color: #c00;
	}
	div.bbp-template-notice p {
		margin: 0.5em 0 6px 0 !important;
		padding: 2px;
		font-size: 12px;
		line-height: 140%;
	}

/* =Stickies
-------------------------------------------------------------- */

.bbp-topics-front tr.super-sticky td,
.bbp-topics tr.super-sticky td,
.bbp-topics tr.sticky td,
.bbp-forum-info tr.sticky td {
	background-color: #ffffe0 !important;
	font-size: 1.1em;
}

/* =Revisions
-------------------------------------------------------------- */
body.single-topic .bbp-topic-revision-log,
body.single-topic .bbp-reply-revision-log {
	border-top: 1px dotted #ddd;
	list-style: none;
	width: 100%;
	margin: 0;
	padding: 8px 0 0 0;
	font-size: 11px;
	color: #aaa;
}

/* =Widgets
-------------------------------------------------------------- */

.widget-area .bbp-login-form fieldset legend {
	display: none;
}

.widget-area .bbp-login-form .bbp-username label,
.widget-area .bbp-login-form .bbp-password label {
	width: 70px;
	display: inline-block;
}
.widget-area .bbp-login-form .bbp-username,
.widget-area .bbp-login-form .bbp-password,
.widget-area .bbp-login-form .bbp-remember-me,
.widget-area .bbp-login-form .bbp-submit-wrapper {
	margin-top: 10px;
}

.widget-area .bbp-login-form .bbp-remember-me {
	float: left;
}

.widget-area .bbp-login-form .bbp-submit-wrapper {
	float: right;
}

.widget-area .bbp-logged-in img.avatar {
	float: left;
	margin-right: 15px;
}

.widget-area .bbp-logged-in h4 {
	font-weight: bold;
	font-size: 1.3em;
	display: inline;
	clear: none;
}

.widget-area .bbp-logged-in a.logout-link {
	display: block;
}

/* =Avatars
-------------------------------------------------------------- */

body.bbPress p.bbp-topic-meta img.avatar,
body.bbPress ul.bbp-reply-revision-log img.avatar,
body.bbPress ul.bbp-topic-revision-log img.avatar,
body.bbPress div.bbp-template-notice img.avatar,
body.bbPress .widget_display_topics img.avatar,
body.bbPress .widget_display_replies img.avatar {
	margin-bottom: -7px;
	border: 3px double #ddd;
}

